name: Backend-desapp-api-grupo-k-022022
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'
      - run: ./gradlew build --no-daemon
      - name: Build token
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}